.input-information input{
    width: 30rem;
    height: 3rem;
}
.login{
    margin-top: 1rem;
}
.input-information{
    margin-top: 30px;
}
.input-information span{
    font-size: 20px;
}
.login-title span{
    font-size: 40px;
    font-weight: bold;
}
.button-signin{
    width: 30rem;
    height: 3rem;
    color: white;
    background-color: #3c9342;
}

.button-signin:hover{
    background-color: #1e4b21;
}
.register-forgotpassword{
    margin-top: 20px;
}

.register-forgotpassword-items{
    cursor: pointer;
    text-decoration: none;
}
.register-forgotpassword-items:hover{
    text-decoration: underline;
}