.item-card{
    border: 2px solid black;
}
.card-img .img-fluid{
    height: 10rem;
    width: 15rem;
}

.card-add-to-card{
    background-color:#ff4faf ;
}
.card-add-to-card:hover{
    background-color:#ff209a ;
}